*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background-color: #DEDEDE;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
}

/* this is the container for the entire screen */
.container {
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  width: 375px;
}

.pull-up  {
  background-color: #FCFCFB;
  height: 990px;
}

.map_screen {
  position:relative;
}

.map {
  width: 100%;
  display: block;
}

.back-button {
  display: inline-block;
  position: absolute;
  width: 36px;
  top: 43px;
  left: 5px;
}


/* each individual row of bus info */
.row {
  border-bottom: 1px solid #BCBBC1;
  margin-left: 15px;
  display:block;
  padding-top: 5px;
  padding-bottom: 5px;
}


/* <ul> containing bus #, direction, route, time, frequency */
.bus-info {
  margin-left: 2px;
}


.route-info {
  border-left: 3.5px solid #FD8F00;
  margin-top: 10px;
  margin-bottom: 10px;
  display: inline-block;
}

.number-direction-route {
  padding-left: 10px;
}

.frequency {
  width: 110px;
  /* display: inline-block; */
  float: right;
  font-size: 1.07em;
  font-weight: 400;
  color: #3E3E3E;
  text-align: center;
  margin-right: 15px;
  padding-top: 10px;
}

/* Bus stop name */
h1 {
  font-size: 1.3em;
  color: #3E3E3E;
  font-weight: 600;
  text-transform: uppercase;
  text-align: left;
  margin-left: 15px;
  padding-top: 20px;
  padding-bottom: 6px;
}

/* bus number */
h2 {
  font-size: 1.6em;
  font-weight: 600;
  color: #3E3E3E;
  display: inline-block;
  vertical-align: top;
}

/* direction and route */
h3, h4 {
  line-height: 1.4;
  color: #3E3E3E;
}

h3 {
  font-weight: 300;
  font-size: 1em;
}


h4 {
  font-weight: 600;
  font-size: 1.07em;
}

h5 {
  font-size: 1.9em;
  font-weight: 700;
  line-height: 1em;
}


h6 {
  font-weight: 300;
  font-size: 0.9em;
  line-height: 1.3;
}

/* minute walk */
.walk {
  border-bottom: 1px solid #BCBBC1;
  margin-left: 18px;
  padding-bottom: 3px;
}



.arrival-time {
  word-spacing: -0.15em;
}

.arriving-soon {
  color: #03C837;
  word-spacing: -0.15em;
}

.resumes-time {
  font-size: 1.2em;
  font-weight: 700;
  line-height: 1.2em;
  padding-top: 10px;
  padding-bottom: 25px;
}

.reroute {
  font-size: 1.2em;
  font-weight: 700;
  line-height: 1.4em;
  padding-top: 21px;
  padding-bottom: 25px;
}

.minutes {
  font-size: 0.65em;
  font-weight: 300;
}

.interuption {
  font-weight: 600;
  color: red;
}
