*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background-color: #DEDEDE;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
}

/* this is the container for the entire screen */
.container {
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  width: 375px;
}


ul {
  background-color: #FCFCFB;
}

/* Bus stop name */
h1 {
  font-size: 1.3em;
  color: #3E3E3E;
  font-weight: 600;
  text-transform: uppercase;
  text-align: left;
  margin-left: 15px;
  padding-top: 20px;
  padding-bottom: 6px;
}

/* minute walk */
.walk {
  border-bottom: 1px solid #BCBBC1;
  margin-left: 18px;
  padding-bottom: 3px;
}

/* bus number */
h2 {
  font-size: 2em;
  font-weight: 600;
  color: #3E3E3E;
  display: inline-block;
  vertical-align: top;
}


.map_screen {
  position:relative;
}

.map {
  width: 100%;
  display: block;
}

.back-button {
  display: inline-block;
  position: absolute;
  width: 36px;
  top: 43px;
  left: 5px;
}


/* each individual row of bus info */
li.row {
  border-bottom: 1px solid #BCBBC1;
  margin-left: 15px;
  display:block;
}


/* <ul> containing bus #, direction, route, time, frequency */
.bus-info {
  /* display: inline-block; */
  /* margin-top: 4px;
  margin-bottom: 4px;
  margin-left: 2px; */
  background-color: yellow;
}


li.route-info {
  border-left: 3px solid #FD8F00;
  margin-top: 10px;
  margin-bottom: 10px;
  display: inline-block;
}


li.frequency {
  background: pink;
  line-height: 1.5;
  width: 120px;
  display: inline-block;
  float: right;
  font-size: 1.07em;
  font-weight: 400;
  color: #3E3E3E;
  text-align: center;
  margin-right: 15px;
  /* padding-top: 4px;
  padding-bottom: 4px; */
}



/* direction and route */
h3, h4, h5 {
  line-height: 1.4;
  color: #3E3E3E;
}

h3 {
  font-weight: 300;
  font-size: 1em;
}


h4 {
  font-weight: 600;
  font-size: 1.07em;
}

h5 {
  font-weight: 300;
  font-size: 0.95em;
  font-style: italic;
  line-height: 2;
}

.arriving-soon {
  color: #03C837;
  word-spacing: -0.15em;
}

.minutes {
  font-size: 0.65em;
  font-weight: 300;
}


.signal {
  display: inline-block;
  vertical-align: top;
  text-align: right;
  background: yellow;
}
