*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background-color: #DEDEDE;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
}

/* this container encompasses the entire screen */
.container {
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  width: 375px;
}

.pull-up {
  background-color: #FEFEFE;
  /* border: 15px solid gray; */
  /* border-top-left-radius: 10px; */
  /* border-top-right-radius: 10px; */
  height: 880px;
}

/* Bus stop name */
h1 {
  font-size: 1.3em;
  color: #3E3E3E;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  border-bottom: 1px solid #BCBBC1;
  /* background-color: yellow; */
  /* margin-top: 20px; */
  /* margin-left: 10px; */
  padding: 10px;
}

/* bus number */
h2 {
  font-size: 2em;
  font-weight: 600;
  color: #3E3E3E;
  /* background-color: yellow; */
  display: inline-block;
  vertical-align: top;

}


.map_screen {
  position:relative;
}

.map {
  width: 100%;
  display: block;
}

.back-button {
  display: inline-block;
  position: absolute;
  width: 36px;
  top: 43px;
  left: 5px;
}



/* each individual row of bus info */
.row-info {
  border-bottom: 1px solid #BCBBC1;
}

/* route info including bus icon, bus #, direction, route */
.busline-info {
  border-left: 4px solid #FD8F00;
  border-left-radius: 5px;
  padding-left: 10px;
  display: inline-block;
  margin-top: 7px;
  margin-bottom: 7px;
  margin-left: 15px;
}



/* direction and route */
h3, p {
  /* background-color: orange; */
  line-height: 1.4;
  color: #3E3E3E;
}

h3 {
  font-weight: 300;
  font-size: 1em;
}

p {
  font-weight: 600;
  font-size: 1.07em;
}

.interuption {
  font-weight: 600;
  color: red;
}

.time {
  background: magenta;
  line-height: 1.2;
  width: 80px;
  display: inline-block;
  float: right;
  margin-right: 20px;
  /* margin-top: 25px; */
  font-size: 1.1em;
  text-align: center;
  padding-top: 24px;
  padding-bottom: 24px;
}
